#phonebook
  %section#phone
    %input#phone-input(type="text")
    %ul
      %li#phone-button-1.phone-button(onclick="dtmf('1');")
        1
      %li#phone-button-2.phone-button(onclick="dtmf('2');")
        2
        %aside
          abc
      %li#phone-button-3.phone-button(onclick="dtmf('3');")
        3
        %aside
          def
      %li#phone-button-4.phone-button(onclick="dtmf('4');")
        4
        %aside
          ghi
      %li#phone-button-5.phone-button(onclick="dtmf('5');")
        5
        %aside
          jkl
      %li#phone-button-6.phone-button(onclick="dtmf('6');")
        6
        %aside
          mno
      %li#phone-button-7.phone-button(onclick="dtmf('7');")
        7
        %aside
          pqrs
      %li#phone-button-8.phone-button(onclick="dtmf('8');")
        8
        %aside
          tuv
      %li#phone-button-9.phone-button(onclick="dtmf('9');")
        9
        %aside
          wxyz
      %li#phone-button-star.phone-button(onclick="dtmf('*');")
        *
      %li#phone-button-0.phone-button(onclick="dtmf('0');")
        0
      %li#phone-button-pound.phone-button(onclick="dtmf('#');")
        \#


      %li#phone-button-call.phone-button.large.off-call(onclick="call();")
        Call



  %section#replist
    %p
      Phonebook
    %ul
      -User.select{|u| u != current_user }.each do |user|
        %li{:class => "#{user.online? ? user.available? ? 'online' : 'busy' : 'offline'}", data: {:username => "#{user.username}", :phone => "#{user.plivo_numbers.first.number if user.plivo_numbers.present?}", :'user-id' => "#{user.id}"}}
          = user.full_name
          = button_to user.available? ? "Call" : "Not Available",plivo_call_path(username: user.username), class: "#{'plivo-call' if user.available?} repcallbutton", remote: true, data: {username: "#{user.username}"}, disabled: !user.available?

          %aside
