%script{:type => "text/javascript", :src => "https://s3.amazonaws.com/plivosdk/web/plivo.min.js"}
:javascript
  function webrtcNotSupportedAlert() {
    alert("Your browser doesn't support WebRTC. You need Chrome 25 to use this");
  }
  var permission = false;
  var button;
  var audio = new Audio("http://#{request.host}:#{request.port}/phone.mp3"), audio_id;
  function onReady() {
    console.log("Plivo ready...");
  }

  function onLogin() {
    console.log("Plivo logging in...");
  }

  function onLoginFailed() {
    console.log("Plivo log in failed...");
  }

  function onCalling() {
    /*jQuery(window).bind('beforeunload',function(){
      return 'Are you sure you want to leave page?'
    });*/
    console.log("Plivo calling...");
    jQuery('#plivo-calling-modal').show();
    jQuery(button).text('Hangup');
  }

  function onCallFailed(cause) {
    console.log("Plivo call failed...");
    jQuery("#flash").text("Can't make a call - " + cause);
    //crm.flash('notice', false);
    jQuery(window).unbind('beforeunload');
    jQuery('#plivo-calling-modal').hide();
    jQuery('.connect_user').remove();
    jQuery(button).text('Call');
    jQuery('.on-call').hide();
    jQuery('.off-call').show();
    jQuery('.on-incoming').hide();
  }

  function onCallAnswered() {
    console.log("Plivo call answered...");
    jQuery(button).text('Hangup');
  }

  function onCallTerminated() {
    console.log("Plivo call terminated...");
    jQuery('.connect_user').remove();
    jQuery('.on-call').hide();
    jQuery('.off-call').show();
    jQuery('.plivo-call').val('Call');
    jQuery(window).unbind('beforeunload');
    jQuery(button).text('Call');
    jQuery('.plivo-call').val("Call");
  }

  function make_call(){
    var dest = jQuery(button).data('phone').toString();
    if(dest[0]!="1" && dest.length==10){
      dest = "1"+dest;
    }
    Plivo.conn.call(dest, {"X-Ph-Phone": "#{current_user.try(:phone)}","X-Ph-User": "#{current_user.id}"});

    jQuery(window).unload(function(){
      Plivo.conn.hangup();
    });
  }

  function onMediaPermission(result) {
      if (result) {
        permission = true;
        console.log("get media permission");
      } else {
        alert("you don't allow media permission, you will can't make a call until you allow it");
      }
  }

  function onIncomingCallCanceled() {

    jQuery('.on-incoming').css('display','inline-block');
    jQuery('.on-call').css('display','inline-block');
    jQuery('.off-call').show();
  }

  function hangup() {
      jQuery(button).text('Call');
      Plivo.conn.hangup({"X-Ph-Phone": "#{current_user.try(:phone)}", "X-Ph-User": "#{current_user.try(:id)}"});
      jQuery('.connect_user').remove();
    jQuery('.on-call').hide();
    jQuery('.off-call').show();
      jQuery(window).unbind('beforeunload');
      jQuery('#plivo-calling-modal').hide();
  }

  function hold(conf_name) {
    if(jQuery('#phone-button-hold[data-conference='+conf_name+']').text()=="Unhold"){
      Plivo.conn.call(conf_name, {"X-Ph-Phone": "#{current_user.try(:phone)}", "X-Ph-Outbound": "true", "X-Ph-User": "#{current_user.try(:id)}"});
      jQuery('#phone-button-hold[data-conference='+conf_name+']').text("Hold");
    }
    else
    {
      Plivo.conn.hangup({"X-Ph-Phone": "#{current_user.try(:phone)}", "X-Ph-User": "#{current_user.try(:id)}"});
      jQuery('#phone-button-hold[data-conference='+conf_name+']').text("Unhold");
    }

  }

  function mute() {
    Plivo.conn.mute();
    jQuery('#linkUnmute').show('slow');
    jQuery('#linkMute').hide('slow');
  }

  function unmute() {
    Plivo.conn.unmute();
    jQuery('#linkUnmute').hide('slow');
    jQuery('#linkMute').show('slow');
  }
  function dtmf(digit) {
    if(jQuery('.off-call').css('display')=='none'){
      console.log("send dtmf="+digit);
      Plivo.conn.send_dtmf(digit);
    }
    else {
      val = jQuery("#phone-input").val();
      jQuery("#phone-input").val(val+digit);
    }

  }

  function onIncomingCall(account_name, extraHeaders) {
    console.log("onIncomingCall:"+account_name);
    console.log("extraHeaders=");
    jQuery('.off-call').hide();
    for (var key in extraHeaders) {
      console.log("key="+key+".val="+extraHeaders[key]);
    }
    jQuery('.on-incoming').css('display','inline-block');
    //IncomingCallUI();
  }
  function answer() {
    jQuery('.on-incoming').hide();
    jQuery('.off-call').hide();
    jQuery('.on-call').css('display','inline-block');
    jQuery('.plivo-call').val("Connect");
    console.log("answering");
    Plivo.conn.answer();
  };
  function reject() {
    console.log("rejecting");
    jQuery('.on-incoming').hide();
    jQuery('.on-call').hide();
    jQuery('.off-call').show();
    audio.pause();
    clearInterval(audio_id);
    Plivo.conn.reject();
  };

  function call() {
    var dest = jQuery('#phone-input').val();
    if(dest[0]!="1" && dest.length==10){
      dest = "1"+dest;
    }
    if(dest.length>0){
      Plivo.conn.call(dest, {"X-Ph-Phone": "#{current_user.try(:phone)}", "X-Ph-Outbound": "true", "X-Ph-User": "#{current_user.try(:id)}"});
      jQuery('.connect_user').remove();
      jQuery('<input class="connect_user" type="hidden" name="conference" value="'+dest+'"></input>').insertAfter(".repcallbutton");
      jQuery('.plivo-call').val("Connect");
      jQuery('.to-call').css('display','inline-block');
      jQuery('.off-call').hide();
    }
  };

  jQuery(document).on('click','.off-call',function(){call();});


  jQuery(document).ready(function() {
    Plivo.onWebrtcNotSupported = webrtcNotSupportedAlert;
    Plivo.onReady = onReady;
    Plivo.onLogin = onLogin;
    Plivo.onLoginFailed = onLoginFailed;
    Plivo.onCalling = onCalling;
    Plivo.onCallFailed = onCallFailed;
    Plivo.onCallAnswered = onCallAnswered;
    Plivo.onCallTerminated = onCallTerminated;
    Plivo.onMediaPermission = onMediaPermission;
    Plivo.onIncomingCall = onIncomingCall;
    Plivo.onIncomingCallCanceled = onIncomingCallCanceled;
    Plivo.setRingTone(true);
    Plivo.setRingToneBack(true);
    Plivo.init({debug: true});
    var username = "#{ current_user.endpoint_username.present? ? current_user.endpoint_username : Setting['plivo_endpoint_username'] }";
    var pass = "#{ current_user.endpoint_password.present? ? current_user.endpoint_password : Setting['plivo_endpoint_password'] }";
    Plivo.conn.login(username, pass);
    /*jQuery(document).on('click', '.plivo-call', function() {

      button = this;

      if (jQuery(this).text() != 'Hangup') {

        if (Plivo.conn == undefined){
          Plivo.onWebrtcNotSupported = webrtcNotSupportedAlert;
          Plivo.onReady = onReady;
          Plivo.onLogin = onLogin;
          Plivo.onLoginFailed = onLoginFailed;
          Plivo.onCalling = onCalling;
          Plivo.onCallFailed = onCallFailed;
          Plivo.onCallAnswered = onCallAnswered;
          Plivo.onCallTerminated = onCallTerminated;
          Plivo.onMediaPermission = onMediaPermission;
          Plivo.onIncomingCall = onIncomingCall;
          Plivo.setRingTone(true);
          Plivo.init({debug: true});
          var username = "#{ Setting['plivo_endpoint_username'] }";
          var pass = "#{ Setting['plivo_endpoint_password'] }";
          Plivo.conn.login(username, pass);

        }
        else {
          make_call();
        }


      }
      else {
        Plivo.conn.hangup();
        //jQuery('#plivo-calling-modal').hide();
        jQuery(window).unbind('beforeunload');
        jQuery(button).text('Call');
      }
        return false;
    });*/
    jQuery(document).on('click', '.plivo-message', function() {
        var recipient = jQuery(this).data('phone');
        var recipient_id = jQuery(this).data('id');
        var recipient_type = jQuery(this).data('type');
        jQuery('#plivo-message-modal').find("input#recipient[type='hidden']").val(recipient);
        jQuery('#plivo-message-modal').find("input#recipient_id[type='hidden']").val(recipient_id);
        jQuery('#plivo-message-modal').find("input#recipient_type[type='hidden']").val(recipient_type);
        Modalbox.show($('plivo-message-modal'), {title: "Send text message", width: 600});
        return false;
    });

    jQuery(document).on('click', '.plivo-call-hangup',function(){
      jQuery('.plivo-call').text('Call');
      Plivo.conn.hangup();
      jQuery(window).unbind('beforeunload');
      jQuery('#plivo-calling-modal').hide();
      return false;
    });

    var checking_user_id = setInterval(function(){
      jQuery.post('/users/online',function(data){

        jQuery('#replist ul li').each(function(user) {
          if(data.indexOf(jQuery(this).data('user-id').toString()) < 0){
            jQuery(this).removeClass('online');
            jQuery(this).removeClass('busy');
            jQuery(this).addClass('offline');
            jQuery(this).find('input[type="submit"]').val('Not Available');
            jQuery(this).find('input[type="submit"]').attr('disabled', 'disabled');
          }
        })
      })
      },1*60*1000);
  });
