.title Edit plivo number
=form_for(@plivo_number, url: admin_plivo_path(@plivo_number), remote: true) do |f|
  .section
    %table
      %tbody
        %tr
          %td
            %div{:class => 'label top'}
              Number
            =f.text_field :number, disabled: true
        %tr
          %td
            %div{:class => 'label top'}
              Label
            =f.text_field :label, required: true
        %tr
          %td
            %div{:class => 'top label'}
              Business time
            = f.time_select :start_time, {include_seconds: false, ampm: true}, class: 'time'
            %br
            = f.time_select :end_time, {include_seconds: false, ampm: true}, class: 'time'
            = f.time_zone_select :business_time_zone, nil, default: Time.zone.name
        %tr
          %td
            %div{:class => 'label top'}
              User
            = select_tag "user_ids", options_from_collection_for_select(User.all, "id", "full_name",@users), multiple: true, 'data-placeholder' => 'Choose users'
        %tr
          %td
            %div{:class => 'label top'}
              Group
            = select_tag "group_ids", options_from_collection_for_select(Group.all, "id", "full_name", @groups), multiple: true, 'data-placeholder' => 'Choose groups'
        %tr
          %td
            =f.submit "Save"
            =link_to "Cancel", admin_plivo_index_path
    :javascript
      new Chosen($('user_ids'))
      new Chosen($('group_ids'))

